[package]
name = "intid-derive"
version.workspace = true
description = "Procedural macro derive for the IntegerId trait"
authors.workspace = true
repository.workspace = true
edition.workspace = true
readme.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
proc-macro = true

[dependencies]
syn = "2"
quote = "1"
proc-macro2 = "1"

[lints]
workspace = true
